{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
    <div class="input-container">
        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <div class="underline"></div>
    </div>

        <div class="remember-me">
            <input type="checkbox" name="remember" id="remember">
            <label for="remember">Lembrar-me</label>
        </div>
        <div class="button-container">
            <button type="submit">Entrar</button>
        </div>
    </form>
    <p>Não tem uma conta? <a href="{{url_for('register')}}">Cadastre-se aqui</a>.</p>

{% endblock %}